.quiz-card {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    position: relative; /* Important for positioning the outer glitter */
    
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    
  }
  
 
  
 
  
  .quiz-card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .options-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .option {
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 8px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .option:hover {
    background-color: #90caf9;
    transform: scale(1.05);
  }
  
  .selected {
    background-color: #42a5f5;
    color: white;
  }
  
  .progress {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
 
  